body {
    margin: 0;
}

.container-fluid {
    width: 100vw;
    height: 100vh;
    background-color: #19B5FE; 
}

#image-box {
    width: 60%;
    height: 40%;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#joke-box {
    width: 50vw;
    height: 20vh;
    background-color: white;
    border: 1px solid black;
    border-radius: 12px;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.button-box {
    width: 200px;
    height: 60px;
    margin-top: 20px;
    cursor: pointer;
}

button {
    background-color: #CF3A24;
    color: white;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

button:active {
    transform: scale(0.98);
}

p {
    font-size: 17px;
    font-weight: 600;
}

.img-fluid {
    max-width:100%;
    height: auto;
}

